h1 {
  text-align: center;
  font-family: 'Sonsie One', cursive;
  font-size: 200%;
}

h2 {
  text-align: center;
  font-family: 'Sonsie One', cursive;
  padding-right: 10px;
  padding-left: 10px;
}

li,
h3 {
  font-size: 160%;
  padding: 5px;
  margin: 5px;
  background: #b40f0f;
  font-weight: bold;
  color: white;
}

.card {
  background: #b40f0f;

}

ul {
  background: #b40f0f;
  border: 5px solid white;
  border-radius: 25px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


.delete-burg {
  margin-left: 75%;
  border-radius: 25px;
  background-color: hsl(180, 100%, 50%, 50%);
}

.create-form {
  background: rgb(243, 243, 55);
}

body {
  background-image: url('../hamburger_edit_doubled.jpg');
}

#zBurger {
  font-size: 160%;
  width: 40rem;
  text-align: center;
  border-radius: 25px;
}

#submitB {
  font-weight: bold;
  font-size: 120%;
  background: none;
  padding: 20px;

}

#addIt {
  color: rgb(243, 243, 55);
  margin-left: 20px;
  margin-top: 5px;
}

#addBurger,
#deleteBurger {
  background-color: rgb(243, 243, 55, 0.35);
}

#addBurgerField {
  border-radius: 25px;
}

.display-burger {
  border-radius: 25px;
}

.form-inline {
  background-color: #b40f0f;
  border-radius: 25px;
  width: 60rem;
}